* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.heading-primary {
  font-size: 24px;
  line-height: 3rem;
  color: #fff;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400; }
  @media (max-width: 991px) {
    .heading-primary {
      text-align: center; } }

.heading-secondary {
  font-size: 20px;
  line-height: 2.6rem;
  color: #fff;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300; }

.paragraph-light {
  font-size: 16px;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300; }
  @media (max-width: 991px) {
    .paragraph-light {
      text-align: center; } }
  .paragraph-light span {
    color: #fff;
    font-weight: bold; }

@media (min-width: 992px) {
  body,
  html {
    height: 100%;
    overflow: hidden; } }

@media (min-width: 992px) {
  .section-hero .herobox {
    margin-top: 46vh;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%); } }

.footer {
  text-align: center; }

.form-control:focus {
  box-shadow: 0 0 2px #fcd939 !important;
  border: 1px solid rgba(105, 105, 105, 0.08) !important; }

.input-hero {
  height: 40px;
  font-size: 16px;
  background: none;
  width: 300px;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid rgba(105, 105, 105, 0.3);
  box-shadow: none; }
  @media (max-width: 767px) {
    .input-hero {
      width: 200px;
      width: 50%;
      text-align: left; } }

.btn.btn-arrow {
  /*width: 40px;*/
  padding-left: 20px;
  padding-right: 20px;
  background: #FCD800;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  margin-left: 8px;
  height: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1; }
  .btn.btn-arrow:hover {
    background: #ffdd11; }

.line {
  display: block;
  height: 2px;
  width: 12rem;
  background: #fcd800;
  margin-bottom: 8px;
  margin-top: -6px; }

.links {
  margin-bottom: 10px; }
  @media (max-width: 991px) {
    .links {
      margin-top: 6%; } }
  .links a {
    font-size: 14px;
    color: #242628;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle; }

.footer p {
  font-size: 12px;
  color: #3c4043; }
  @media (max-width: 991px) {
    .footer p {
      width: 72%;
      margin: 0 auto; } }

.mob-logo {
  text-align: center; }
  .mob-logo img {
    margin: 0 auto; }

#section-values {
  background: #fff; }

#section-values p {
  line-height: 12px; }

#section-values .coin-name,
#section-values .coin-value {
  color: rgba(0, 0, 0, 0.9); }

.curr-container {
  width: 90%;
  margin: 0 auto; }

.coin-increase,
.coin-value {
  font-family: "Arial Narrow", Arial, sans-serif; }

.coin-name {
  font-size: 14px;
  font-weight: bold; }

.circle {
  font-size: 18px; }

.red .circle,
.red .coin-change {
  color: #ff0000; }

.green .circle,
.green .coin-change {
  color: #00cd22; }

.down-val {
  color: red; }

.up-val {
  color: green; }

.curr-container {
  width: 991px;
  margin: 0 auto; }

@media (max-width: 768px) {
  .curr-container {
    width: 85%;
    text-align: center; } }

.curr {
  margin-top: 2%;
  margin-bottom: 2%; }
  .curr.performance {
    width: 300px; }

#stickyfooter {
  margin-top: 6%; }
  @media (min-width: 992px) {
    #stickyfooter {
      position: absolute;
      width: 100%;
      bottom: 0;
      margin-top: 50vh; } }

@media (max-width: 320px) {
  #section-values .coin-name,
  #section-values .coin-value {
    color: #4c4c4c;
    font-size: 12px; } }

.blocks-inline p {
  display: inline-block; }
  .blocks-inline p:first-child {
    margin-right: 4px; }

@keyframes floating {
  from {
    transform: translateY(8px); }
  to {
    transform: translateY(-8px); } }

.floating-world {
  position: relative; }
  .floating-world .everyone {
    position: absolute; }
    .floating-world .everyone.one {
      top: -11px;
      left: 28px; }
      .floating-world .everyone.one .floating-asset {
        animation-delay: -3.4s; }
    .floating-world .everyone.two {
      top: -46px;
      left: 198px; }
      .floating-world .everyone.two .floating-asset {
        animation-delay: -6.2s; }
    .floating-world .everyone.three {
      top: 27px;
      left: 367px; }
      .floating-world .everyone.three .floating-asset {
        animation-delay: -4.2s; }
    .floating-world .everyone.four {
      top: 118px;
      left: 182px; }
      .floating-world .everyone.four .floating-asset {
        animation-delay: -2.9s; }
    .floating-world .everyone.five {
      top: 110px;
      left: 363px; }
      .floating-world .everyone.five .floating-asset {
        animation-delay: -0.2s; }
    .floating-world .everyone .floating-asset {
      background: #fff;
      top: 1px;
      text-align: center;
      width: 160px;
      border-radius: 6px;
      padding: 16px 10px 10px;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-name: floating;
      animation-play-state: running;
      animation-timing-function: ease-in-out;
      transition: margin 1s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
      animation-duration: 4s;
      transition-delay: 0.3s;
      box-shadow: 1px 1px 3px 2px rgba(13, 13, 13, 0.09); }
      .floating-world .everyone .floating-asset .circle {
        display: none; }
      .floating-world .everyone .floating-asset img {
        margin: 0 auto;
        width: 100px;
        margin-bottom: 16px; }

.tech-slideshow {
  min-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  padding-left: 1%; }

.tech-slideshow > .cryptoguy {
  height: 100px;
  width: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0); }

.tech-slideshow .mover-1 {
  animation: moveSlideshow 3s linear infinite;
  display: inline-block;
  padding: 0px 20px;
  width: 100px;
  padding: 0 108px;
  width: 106px; }

@keyframes moveSlideshow {
  100% {
    transform: translateX(-100%); } }

.footerslider {
  position: fixed;
  bottom: 0px; }
